<div fxFlex fxLayout="column" fxLayoutGap="1em" class="movies-layout">

  <mat-error fxFlex *ngIf="error">{{error}}</mat-error>

  <div *ngIf="movieItem" fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="1em">
    <div fxFlex fxFlex.gt-sm="182px" fxLayoutAlign="center">
      <img src="{{'assets/images/movie-covers/' + movieItem.img}}">
    </div>
    <div fxFlex="60">
      <h3>{{movieItem.name}}</h3>
      <span *ngFor="let genre of movieItem.genres, let last = last" class="capitalize-text">
        {{last ? genre : genre + ' | '}}
      </span>
      <p>{{movieItem.description}}</p>
      <p><b>Length:</b> {{movieItem.length}}</p>
      <p><b>Rating:</b> {{movieItem.rate}}</p>
    </div>
  </div>

  <div fxFlex fxLayout="row">
    <button mat-raised-button color="primary" routerLink="/">< Back</button>
  </div>

</div>
