@import url('https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap');
$anton-font: 'Anton', sans-serif;
$roboto-font: 'Roboto', sans-serif;

$dark-grey-color: #222831;
$lightest-grey-color: #eeeeee;
$purple-color: #3f51b5;
