@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';

body {
  background-color: $dark-grey-color;
  color: $dark-grey-color;
  font-family: $roboto-font;
}

.mat-select-placeholder, .mat-input-element, h1, h3 {
  font-family: $anton-font;
  color: $purple-color;
  letter-spacing: 1px;
  font-weight: 100;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.capitalize-text {
  text-transform: capitalize;
}

.movies-layout {
  margin: 5rem 10rem;
  background-color: $lightest-grey-color;
  padding: 2rem;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .movies-layout {
    margin: 1rem;
    padding: 1rem;
  }
}
