<div fxFlex fxLayout="column" fxLayoutGap="1em" class="movies-layout">

  <h1 fxFlex="5" fxLayoutAlign="center">Movies</h1>

  <div fxFlex="20" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="2em" class="layout-padding">
    <mat-form-field fxFlex fxFlex.gt-sm="40" fxFlex.gt-md="25">
      <input matInput placeholder="Search movie by title" (keyup)="searchMovieTitle($event.target.value)">
    </mat-form-field>
    <mat-form-field fxFlex fxFlex.gt-sm="40" fxFlex.gt-md="25" fxFlexOffset.gt-sm="20" fxFlexOffset.gt-md="50">
      <mat-select placeholder="Filter by genre" (selectionChange)="setGenreFilter($event.value)">
        <mat-option [value]="null">No filter</mat-option>
        <mat-option *ngFor="let genre of genreList" [value]="genre" class="capitalize-text">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-error fxFlex *ngIf="error">{{error}}</mat-error>

  <div *ngIf="fullMoviesList" fxFlex class="center-posters">
    <div *ngFor="let movie of filteredMovies" class="flip-poster">
      <div class="flip-poster-inner">
        <div class="flip-poster-front">
          <img src="{{'assets/images/movie-covers/' + movie.img}}">
        </div>
        <div class="flip-poster-back">
          <h3>{{movie.name}}</h3>
          <span class="more-info-link" routerLink="{{'movie/' + movie.id}}">Movie details ></span>
        </div>
      </div>
    </div>
  </div>

  <span fxFlex *ngIf="filteredMovies.length === 0" class="layout-padding">No results</span>

</div>
