@import '../../scss/styles';

.center-posters {
  text-align: center;
}

.flip-poster {
  display: inline-grid !important;
  margin: 1rem;
  background-color: transparent;
  width: 182px;
  height: 268px;
  perspective: 1000px;
}

.flip-poster-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-poster:hover .flip-poster-inner {
  transform: rotateY(180deg);
}

.flip-poster-front, .flip-poster-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: transparent;
}

.flip-poster-back {
  padding-top: 2rem;
  color: $dark-grey-color;
  transform: rotateY(180deg);
}

.more-info-link {
  cursor: pointer;
  color: $dark-grey-color;
}

.layout-padding {
  padding: 1rem;
}
